.postcards{
    /* background-color: red; */
    cursor: pointer;
}
.postcards-image{
    width: 100%;
    height: 100%;
}
.postcards-image img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.postcards-title h1{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.postCard-spacing ul li {
    margin: 1.5rem 0;
    font-size: 12px;
    color: grey;
}
.postCard-spacing ul span li {
    color: grey;
}
.postcards:hover h1,
.postcards:hover li,
.postcards:hover p  {
    cursor: pointer;
    color: var(--color);
}


@media screen and (max-width: 1200px) {
    .postcards{
        /* background-color: red; */
    }
    .postcards-image{
        width: 100%;
        height: 100%;
    }
    .postcards-image img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .postcards-title h1{
        font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    .postCard-spacing ul li {
        margin: 1rem 0;
        font-size: 12px;
        color: grey;
    }
    .postCard-spacing ul span li {
        color: grey;
    }
}
@media screen and (max-width: 960px) {
    .postcards{
        /* background-color: red; */
    }
    .postcards-image{
        width: 100%;
        height: 100%;
    }
    .postcards-image img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .postcards-title h1{
        font-family: var(--font-family);
        font-size: 15px;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    .postCard-spacing ul li {
        margin: 1rem 0;
        font-size: 12px;
        color: grey;
    }
    .postCard-spacing ul span li {
        color: grey;
    }
}
@media screen and (max-width: 500px) {
    .postcards{
        margin-bottom: 1rem;
    }
    .postcards-image{
        width: 100%;
        height: 250px;
    }
    .postcards-image img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .postcards-title-container{
        padding: 2rem 1rem 1rem;
    }
    .postcards-title{
    }
    .postcards-title h1{
        font-family: var(--font-family);
        font-size: 19px;
        line-height: 1.8rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        max-width: 300px;
    }
    .postCard-spacing ul li {
        margin: 0rem  0 1.3rem;
        font-size: 14px;
        color: grey;
    }
    .postCard-spacing ul span li {
        color: grey;
    }
}