.home-container {
    padding-top: 20px; /* Adjust the value according to the navbar height */
}
.home-featured-story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem;

}
.home-featured-story-img{
    width: 100%;
    height: 800px;
}
.home-featured-story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-featured-story-content{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.home-featured-story-content p{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 2rem;
    font-weight: 200;
    margin: 10rem 0 8rem;
}
.home-featured-story-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-featured-story-title h1{
    font-family: var(--font-family);
    font-size: 55px;
    line-height: 4rem;
    max-width: 400px;
    text-align: center;
    cursor: pointer;
}
.home-featured-story-title h1:hover{
    color: var(--color);
}
.home-featured-story-title{

}
.home-featured-story-title ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 0 2rem;
}
.home-featured-story-title li{
    text-decoration: none;
    list-style: none;
    padding-right: 1.5rem;
    font-family: "inter";
    font-size: 14px;
    font-weight: 200;
}
.home-featured-story-title span li{
    text-decoration: none;
    list-style: disc;
    color: white;
    padding: 0rem 0rem;
}
li::marker {
    /* color: red; */
  }

  .home-latest-container{
    padding: 3rem 3rem;
    height: 600px;
  }
  .home-latest-container h3{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 200;
    margin: 0 0.5rem 3rem;
    letter-spacing: 1px;
  }
  .home-latest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .home-sotw{
    width: 100%;
    position: relative;
    margin-top: 8rem;
  }
 .home-sotw-image{
    background-image: url("../../assets//sotw.jpg");

    /* Set a specific height */
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 }
.home-sotw-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    position: absolute;
    width: 100%;
}
.home-sotw-content p{
    font-family: var(--font-family);
    font-size: 24px;
    margin-right: 0px;
    color: white;
    margin-bottom: 4rem;
}
.home-sotw-div{
width: 100%;
height: 800px;
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
}
.home-sotw-content p{

}
.home-sotw-title h1{
    font-family: var(--font-family);
    font-size: 55px;
    margin-right: 0px;
    color: white;
    max-width: 850px;
    text-align: center;
    cursor: pointer;
}
.home-sotw-title h1:hover{
    color: var(--color);
}
.home-sotw-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-sotw-time ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}
.home-sotw-time ul li{
    margin: 1.5rem 0;
    font-size: 12px;
    color: white;
}
.home-sotw-time ul span li {
    color: grey;
}
.home-popular{
    padding: 3rem;
}
.home-popular h3{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 200;
    margin: 0 0.5rem 3rem;
    letter-spacing: 1px;
}
.home-popular-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 30px;
}
.home-cta{

}

.home-cta-container{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.home-cta-form{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}
.home-cta-form h1{
    font-family: var(--font-family);
    font-size: 55px;
    font-weight: 600;
    margin: 0 0rem 3rem;
    letter-spacing: 1px;
    line-height: 4.5rem;
    max-width: 700px;
    text-align: center;
}
.home-cta-form-input{
    width: 100%;

}
.home-cta-input-button{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.home-cta-input-button h3{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}
.home-cta-input-button h3:hover{
    color: var(--color);
}
.home-cta-input-button p{
    font-family: "inter";
    font-size: 14px;
    font-weight: 200;
}
.home-cta-form-input-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-cta-form-input-main input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 4px solid white;
    font-family: "inter";
    font-size: 14px;
    font-weight: 200;
    color: white;

}
.home-cta-image{
    height: 935px;
}
.home-cta-image img{ 
    width: 100%;
    height: 935px;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 1500px) {
    .home-cta-form h1{
        font-family: var(--font-family);
        font-size: 55px;
        font-weight: 600;
        margin: 0 0rem 3rem;
        letter-spacing: 1px;
        line-height: 4.5rem;
        max-width: 600px;
        text-align: center;
    }
    .home-cta-form-input{
        width: 100%;
    }
    .home-cta-input-button{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}