.category-container{
    padding:  2rem 3rem 4rem;
}
.category-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.category-title p{
    font-family: var(--font-family);
    font-size: 23px;
    font-weight: 400;
}
.category-content-container{
}